.table-container {
    width: 100%;
}

.list-user-table {
    table-layout: fixed;
    width: 100%;
}

.list-user-table td,
.list-user-table th {
    height: 50px !important;
    max-height: 50px !important;
    min-height: 50px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.table thead th {
     vertical-align: middle;
     border-bottom: 2px solid #dee2e6;
}

body {
    overflow-y: scroll;
}